.venv/
venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.vscode/
*.py[cod]
*.log
run*.log
*.sqlite
data/ligandFile_with_protein_path_*.csv
data/prepared_for_esm_*.fasta
data/esm2_output/
data/cache/
env/
ENV/
/.env
.DS_Store
*.egg-info/
*.egg
dist/
build/
ipynb_checkpoints/*.pyc